body {
  background-image: url('./images/realistic-clouds-abstract-composition-with-overcast-gray-clouds-sky_1284-33932.avif');
  background-size: cover;
  background-position: center;
  /* background-color: rgb(32,116,176); Sky Blue color */
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: 117vh;
}

.container {
  text-align: center;
}
